// -- Colour scheme 1

$s1_colour1: #fad085;
$s1_colour2: #00ab9a;
$s1_colour3: #c61d4a;
$s1_colour4: #db6875;

// -- Colour scheme 2

$s2_colour1: #4e256f;
$s2_colour2: #eb4c75;
$s2_colour3: #f6a2a2;
$s2_colour4: #662771;

// -- Colour scheme 3

$s3_colour1: #272727;
$s3_colour2: #2d2720;
$s3_colour3: #e6c18f;
$s3_colour4: #0f0f0f;

// -- Colour scheme 4

$s4_colour1: #f68f1e;
$s4_colour2: #606b97;
$s4_colour3: #ffffff;
$s4_colour4: #ffffff;